<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Bootstrap Project</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark sticky-top">
        <a class="navbar-brand" style="color:whitesmoke;" href="#">Welcome</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" style="color:whitesmoke;" href="signin.html">Sign in</a>
           </div>
        </div>
      </nav> <br>
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">Cofee Lover Project</h1>
        <p class="lead">Welcome to your Bootstrap project: Coffee Lover.</p>
        <p class="lead">You will recreate this web page and an a ddition web page..</p>
        <p class="lead">just follow the instruction step by step to recreate this web page!</p>
        <ol>
            <li>Create a general landing page with jumbotrone</li>
            <li>Next create a navbar which link to anaother web page.</li>
        </ol>
      </div>
    </div>

    <div class="container">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum laboriosam officia, libero voluptates nobis ut fugit aspernatur reprehenderit earum blanditiis ratione, dolorum accusamus, suscipit autem nisi atque eveniet fugiat maiores!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut sit porro hic itaque quod ex modi provident magnam blanditiis, repudiandae ratione ea omnis ad reprehenderit sunt aperiam voluptas quia dignissimos!</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col col-lg-4 col-xs-2">
                 <img src="https://cdn.stocksnap.io/img-thumbs/280h/XDUMGWPQMS.jpg" class="img-thumbnail" alt="Cinque Terre" width="404" height="236">
                </div>
                <div class="col col-lg-4 col-xs-2">
                <img src="https://cdn.stocksnap.io/img-thumbs/280h/0WYTHJ2XNH.jpg" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
                </div>
                <div class="col col-lg-4 col-xs-2">
                <img src="https://cdn.stocksnap.io/img-thumbs/280h/WKJFSH6HRU.jpg" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
                </div>
        </div>
        <div class="row">
                <div class="col col-lg-4 col-xs-2">
                    <img src="https://cdn.stocksnap.io/img-thumbs/280h/GZCFF9JJE7.jpg" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
                </div>
                    <div class="col col-lg-4 col-xs-2">
                        <img src="https://cdn.stocksnap.io/img-thumbs/280h/ZJZWZJL0DB.jpg" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
                </div>
                        <div class="col col-lg-4 col-xs-2">
                <img src="https://cdn.stocksnap.io/img-thumbs/280h/JXQ4ZVC5GI.jpg" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
                </div>
                </div>
    </div>
    <br><br>
</body>
</html>
